<IfModule mod_rewrite.c>
    RewriteEngine On

    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
    CGIPassAuth On

    # Hilangkan index.php dari URL (Opsional tapi direkomendasikan CI3)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>